global-reset()

h1
  margin 1em 2em
  font-weight bold
  font-size 2em

ul
  li
    margin-left 2em
    padding 5px 0

dl
  margin-left 1em
  dt
    font-weight bold
    font-size 1.5em
  dd
    margin-left 1.5em
    table
      tr
        td.month
          font-weight bold
          padding-right 1em
        td.day
          font-size 1.5em
          padding 0 2px
          a
            width 1.5em
            display block
            text-align center
            padding 2px 0 5px
          a:hover
            background-color #eee

article
  header
    h2
      margin 1em 2em
      font-weight bold
      font-size 1.5em

  table.log
    tr
      td
        padding 0 5px
      td.time
        //
      td.user
        //
      td.text
        padding 5px
